* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #fffaf2;
  color: #222;
}

/* ADMIN BAR */
.admin-bar {
  background: #f2c94c;
  color: #222;
  text-align: center;
  padding: 8px;
  font-size: 12px;
}

/* NAV */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background: #f7f1e8;
  border-bottom: 4px solid #f2c94c;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: #222;
  font-size: 14px;
}

nav a.active {
  font-weight: bold;
  border-bottom: 2px solid #222;
}

/* HERO */
.hero {
  background: #eaf2ff;
  padding: 100px 40px;
  text-align: center;
}

.hero h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.hero p {
  margin-bottom: 30px;
}

button {
  padding: 12px 24px;
  border: none;
  background: #222;
  color: #fff;
  cursor: pointer;
}

/* OVERVIEW */
.overview {
  padding: 80px 40px;
  text-align: center;
}

.overview h2 {
  margin-bottom: 20px;
}

/* ABOUT */
.about {
  display: grid;
  grid-template-columns: 0fr 1fr;
  gap: 30px;
  padding: 60px 40px;
  background: #f7f1e8;
}

.about-image {
  height: 300px;
   object-fit: cover; 
}

.about-text h3 {
  margin-bottom: 20px;
}

/* ACHIEVEMENTS */
.achievements {
  padding: 80px 50px;
  text-align: center;
}

.achievement-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
  margin-top: 40px;
}

.achievement {
  background: #fde8c8;
  padding: 40px;
}

/* REVIEWS */
.reviews {
  background: #eaf2ff;
  padding: 80px 40px;
  text-align: center;
}

.reviews p {
  margin-top: 10px;
}


/* FOOTER */
footer {
  padding: 30px;
  text-align: center;
  font-size: 12px;
  opacity: 0.7;
}
